.header-internal-container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    width: 100%;
    background-color: var(--btg-background-white);
    margin-bottom: 16px;
}

.profile-container {
    display: flex;
    padding: 10px;

    img {
        width: 30px;
        height: 30px;
    }
}

.app-name-container {
    display: flex;
    flex: 1;
    padding: 5px;
}

.notifications-container {
    display: flex;
    padding: 5px;

    label {
        padding: 10px;
    }
}