.navigation-menu-internal-container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    width: 100%;
    //background-color: var(--btg-background-white);
    margin-top: 16px;
    border-top: 1px solid var(--btg-border);
}

.menu-option {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--btg-primary);
}