<div class="row">
    <div class="col-12">
        <app-balance-card [customerInfo]="customerInfo"></app-balance-card>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="title">Active Portfolio</p>
        @if (registrations().length > 0) {
            @for (reg of registrations(); track $index) {
                <app-product-subscribed-card [registration]="reg"></app-product-subscribed-card>
            }
        } @else {
            <p>There are not subscriptions yet!</p>
            <p>Please, <i class="fa-solid fa-magnifying-glass"></i> Explore the funds</p>
        }
    </div>
</div>
<app-loader [visible]="showLoader"></app-loader>
