.available-balance-container {
    background-color: var(--btg-background-white);
    border-radius: var(--btg-radius-md);

    &__icon {
        font-weight: bold;
        font-size: 18pt;
        text-align: center;
        padding: 10px;
    }

    &__info {
        font-size: 12pt;
        text-align: left;
        padding: 10px;

        &__current-balance {
            font-size: 18pt;
            font-weight: normal;
            color: var(--btg-accent);
        } 
    }
}

.subscription-message {
    background-color: var(--btg-border);
    padding: 10px;
    border-radius: var(--btg-radius-md);
}