<div class="row">
    <div class="col-12">
        <app-product-info [product]="selectedProduct" [lbl1]="'SUBSCRIBE TO'"></app-product-info>
    </div>
</div>
@if (customer) {
    <div class="row">
        <div class="col-12">
            <div class="available-balance-container">
                <div class="row">
                    <div class="col-1">
                        <div class="available-balance-container__icon">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="available-balance-container__info">
                            <span>Available Balance</span><br/>
                            <span class="available-balance-container__info__current-balance">{{customer.general_balance | currency: 'COP'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<form (submit)="subscribe()" [formGroup]="form">
    <div class="row mt-2">
        <div class="col-12">
            <div class="form-field">
                <label>Subscription Amount</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-dollar"></i></span>
                    <input 
                        type="number"
                        class="form-control"
                        [placeholder]="selectedProduct?.min_amount |currency:'COP'"
                        formControlName="balance"
                    />
                </div>
                @if (balanceErrors !== null) {
                    <div class="error-field">
                        <p>{{balanceErrors.min ? 'The amount is less than the minimum allowed' : ''}}</p>
                        <p>{{balanceErrors.max ? 'The amount exceeds your general balance' : ''}}</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="form-field">
                <label>Notification Method</label>
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-secondary" (click)="setNotificationType('email')">
                                <i class="fa-regular fa-envelope"></i> Email
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-secondary" (click)="setNotificationType('sms')">
                                <i class="fa-regular fa-message"></i> SMS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="subscription-message">
                <p>Please confirm to proccess your subscription</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" [disabled]="!this.form.valid">
                    <i class="fa-solid fa-lock"></i> Confirm Subscription
                </button>
            </div>
        </div>
    </div>
</form>